{% set configField = { 'label': 'Título', 'field': 'title'} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Cuerpo', 'field': 'body' , 'classesinput':''} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Tags', 'field': 'tags', 'classesinput':''} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Fecha de Publicación', 'field': 'publishdate', 'classesinput':'datetimepicker' }  %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Fecha de Caducidad', 'field': 'enddate', 'classesinput':'datetimepicker' }  %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': '(SEO) Meta Title', 'field': 'metatitle' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': '(SEO) Meta Description', 'field': 'metadescription' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Extra', 'field': 'extra' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
