{#
    Pacolmg
    Greetik Soluciones SL
    view the posts table
#}
{%
    set configTable = {
                                'id': 'post', 
                                'title': 'Posts', 
                                'icon':'file-text',
                                'aaSorting': "[[ 1, 'desc' ]]",
                                'noOptions':true,
                                'viewdata': {'url': 'blog_viewpost'},
                                'fields': {'title': {'title': 'Título', 'link_view': true}, 'publishdate': {'title': 'Publicación'}} 
                               }
                              
%}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('blog_insertpost', {'idproject': idproject})}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
