



{%
                set configForm = {
                    'id' : 'insertpost',
                    'pathaction': path('blog_insertpost', {'idproject':idproject}),
                    'pathcancel': path('blog_listposts', {'idproject':idproject}),
                    'title': 'Post',
                    'icon': 'file-text'
                }
%}
{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}           
        {% include('BlogBundle:Default:forminsert.html.twig') %}                       
        {{ form_widget(new_form._token) }}
    {% endblock %}                    
{% endembed %}