
{% set idfield = 'post_body' %}
{% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

{% set fieldstodatetime = '.datetimepicker' %}
{% include 'BEInterfaceBundle:_Scripts:datetime.html.twig' %}    

{% set fieldstoselect = '.select2' %}
{% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

<script>
    $('body').ready(function () {
        $("#post_tags").addClass('select2');
        $("#post_tags").select2({
            tags:{{ tags | json_encode | raw }}
        });
    });
</script>
