{%
                                set configForm = {
                                    'id' : 'modifypost',
                                    'pathaction': path('blog_modifypost', { 'id': item.id }),
                                    'pathcancel': path('blog_listposts', {'idproject':item.project})
                                }
%}


{% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}

        {% include('BlogBundle:Default:forminsert.html.twig') %}
        {{ form_widget(new_form._token) }}

    {% endblock %}                    
{% endembed %}
