{% set break=0 %}
{% for field in new_form %}
    {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
{% endfor %}
{% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}
{% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}
<h1>{{ item.title }}</h1>                                   
<div class="btn-group">
    {%set pathdelete= path('blog_deletepost', {'id': item.id })%}
    {% set id = item.id %}
    {% include('BEInterfaceBundle:_Scripts:deleteAny.html.twig') %}
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>                                        

{% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
{{ item.body | raw }}
<p>&nbsp;</p>
<ul class="list-inline">
    <li><i class="fa fa-calendar"></i> {{ item.publishdate | date("d/m/Y H:i") }}</li>
    {% if projectname is defined %}<li><i class="fa fa-building"></i> {{ projectname  }}</li>{% endif %}
    <li><i class="fa fa-time"></i> {{ item.enddate  | date("d/m/Y H:i")  }}</li>
    <li><i class="fa fa-user"></i> Añadido el {{ item.createdat|date("d/m/Y") }}{% if userpostname is defined %} por {{ userpostname }}{% endif %}</li>

</ul>
<ul class="list-inline">
    {%if item.extra != '' and item.extra is not null%}  <li><i class="fa fa-asterisk"></i> Extra: {{item.extra}}</li> {%endif %}
    {%if item.tags | length > 0 %}<li><i class="fa fa-tags"></i> Tags: {{item.tags | join(', ')}}</li>{%endif%}
</ul>
