{#
    Pacolmg
    Greetik Soluciones SL
    view the posts table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}


{% block subtitle %}Blog - {% endblock %}
{% set titlecontent = 'Blog'  %}
{% set subtitlecontent = 'Seleccione uno del listado de posts para ver su detalle' %}
{% set breadcrumb = [{'title': 'Blog' , 'link': path('blog_listposts', {'idproject': idproject}), 'icon': 'file-text'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
{% include 'BlogBundle:Default:index.html.twig' %}
{% endblock %}